.root {
  grid-template-columns: auto 1fr auto;
  height: 100vh;
  display: grid;
  width: 100%;
}

.grid {
  background-color: white;
  display: grid;
}

.box {
  background-color: aliceblue;
  padding: 10px;
}
